<div class="banner-container">
    <!-- Background Image -->
    <img src="SDMS-Banner.jpg" alt="SDMS Banner" class="banner-image">
  
    <!-- SDMS Text Overlay -->
    <div class="banner-text">
      <span>SDMS</span>
    </div>
  </div>
  
  <!-- Smart Dairy Management System -->

  <div class="sdms-container">
    <!-- Left Section: Text Content -->
    <div class="sdms-content">
      <h1>Smart Dairy Management System</h1>
      <div class="sdms-text">
        <p>
          Our solution is a comprehensive dairy management system that streamlines every aspect from procurement to production. 
          It includes essential automation features such as accounting, lab testing, and more. Designed for efficiency and ease, 
          this system makes dairy management smarter and faster. It offers detailed transaction management for all payment and 
          account-related functions, and also includes modules for managing transportation.
        </p>
      </div>
    </div>
  
    <!-- Right Section: Image -->
    <div class="sdms-image-container">
      <img src="SDMS-02-1.jpg" alt="SDMS Image" class="sdms-image">
    </div>
  </div>
  


  <!-- Report -->
  <div class="reports-container">
    <div class="reports-content">
      
      <!-- Left Section (Image) - Visible on Desktop -->
      <div class="reports-image-container md:block hidden">
        <img src="SDMS-03-1-1.jpg" alt="Reports Image" class="reports-image">
      </div>
  
      <!-- Right Section (Text Content) -->
      <div class="reports-text-container">
        <h1>Main types of reports include:</h1>
        <p>Individual product-wise report of production and dispatch as well.</p>
        <ul class="reports-list">
          <li><span>Lab section report</span></li>
          <li><span>Common reports</span></li>
          <li><span>APS-PET reports</span></li>
          <li><span>SFM(GLASS) Section report</span></li>
          <li><span>Account section reports</span></li>
          <li><span>Customer ledger printing (Individual)</span></li>
          <li><span>Monthly account section reports</span></li>
        </ul>
      </div>
  
    
      
    </div>
  
    <!-- Download Button -->
    <div class="reports-download">
      <button (click)="downloadBrochure()" class="download-button">
        <span class="material-symbols-outlined"> download </span> Download Brochure
      </button>
    </div>
  </div>
  