.banner-container {
    position: relative;
    width: 100%;
    height: 100%;
  
  }
  
  @media (min-width: 640px) { /* sm breakpoint */
    .banner-container {
      display: block;
    }
  }
  
  .banner-image {
    width: 100%;
    height: 24rem; /* Equivalent to sm:h-96 */
    object-fit: cover;
  }
  
  .banner-text {
    position: absolute;
    top: 33%;
    left: 3.5rem; /* Equivalent to left-14 */
    font-size: 3.75rem; /* Equivalent to text-6xl */
    font-weight: bold;
    color: #2d3a72;
  }
  

  /* ----------------------------------------- */
  .sdms-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  
  @media (min-width: 768px) { /* md breakpoint */
    .sdms-container {
      flex-direction: row;
      padding: 6rem;
    }
  }
  
  .sdms-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  .sdms-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .sdms-text {
    text-align: justify;
    padding: 0.5rem;
    color: #6D6D6D;
    font-size: 1.125rem;
  }
  
  .sdms-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
  }
  
  .sdms-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* --------------report------------------ */
  .reports-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
  }
  
  .reports-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .reports-content {
      flex-direction: row;
      padding: 6rem;
    }
  }
  
  .reports-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
  }
  
  .reports-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .reports-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .reports-text-container h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .reports-text-container p {
    color: #6D6D6D;
    font-size: 1.125rem;
  }
  
  .reports-list {
    color: #6D6D6D;
    font-size: 1.125rem;
    list-style-type: disc;
    padding-left: 1rem;
  }
  
  .reports-list li {
    color: #2d3a72;
  }
  .reports-list span {
    color: #555555;
  }
  .reports-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  
  .download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2d3a72;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .download-button:hover {
    background: #2d3a72;
    color: white;
    border: 1px solid white;
  }
  