/* General Styles */
.contact-us {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px; /* Spacing between the form and contact info */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #172983;
    width: 100%;
    font-weight: 600 !important;
    font-size: 36px !important;
    position: relative;
    display: inline-block;
}

/* Left side - Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px 0 16px;
    flex: 1; /* Flex property applied */
    min-width: 48%;
    border-right: 1px solid rgb(156, 156, 156);
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px 40px;
    align-self: center;
    background-color: #172983;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3d53be;
}

/* Right side - Contact Info */
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1; /* Flex property applied */
    min-width: 48%;
    font-size: 16px;
    color: #333;
}

.contact-info h3 {
    color: #172983;
    display: inline-block;
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: .5rem;
}

.locations {
    margin-top: 20px;
}

.location {
    margin-bottom: 15px;
}

.location h4 {
    font-size: 18px;
    font-weight: bold;
}

.location p {
    margin: 5px 0;
}
/* .error{
    color: red;
} */

/* Mobile & Tablet Responsiveness */
@media (max-width: 845px) {
    .contact-us {
        flex-direction: column; /* Stack the form and contact info vertically */
        padding: 15px;
    }

    .contact-form {
        width: 100%; /* Full width for smaller screens */
        border: none;
    }

    /* Hide contact info section on mobile */
    .contact-info {
        display: none;
    }
}

/* Tablet view responsiveness (for devices between mobile and desktop size) */
@media (min-width: 846px) and (max-width: 1024px) {
    .contact-us {
        flex-direction: row; /* Keep them side by side for tablets */
    }

    .contact-form, .contact-info {
        flex: 1;
        min-width: 48%;
    }
}
