.first-img-container {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

/* Image */
.mission-vision-image {
  width: 100%; 
  height: 24rem; /* Default height */
  object-fit: cover;
  background-position: center;
}
 
/* Text Position */
.mission-vision-text {
  position: absolute;
  top: 33%; 
  left: 3.5rem;
  text-align: center;
}

/* Text Style */
.mission-vision-text span {
  font-weight: bold;
  color: rgb(36, 86, 179);
  font-size: 3.5rem; /* Default size */
}

/* Responsive Design */
@media (max-width: 1024px) {  /* Tablet */
  .mission-vision-text {
      top: 30%;
      left: 2rem;
  }
  .mission-vision-text span {
      font-size: 2.5rem;
  }
  .mission-vision-image {
      height: 20rem;
  }
}

@media (max-width: 768px) {  /* Mobile */
  .mission-vision-text {
      top: 25%;
      left: 1rem;
  }
  .mission-vision-text span {
      font-size: 2rem;
  }
  .mission-vision-image {
      height: 18rem;
  }
}

@media (max-width: 480px) {  /* Small Mobile */
  .mission-vision-text {
      top: 20%;
      left: 0.5rem;
  }
  .mission-vision-text span {
      font-size: 1.5rem;
  }
  .mission-vision-image {
      height: 15rem;
  }
}


/* -------------services--------------- */
/* Main service container */
.service-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
  padding-top: 40px;
  
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding:40px 80px;
 
}

.service-container.reverse {
  flex-direction: row-reverse;
  background-color:rgb(245 245 245);
}

.service-text {
  flex: 1;
  width: 50%;
  padding-right: 20px;
  white-space: pre-line;
  text-align: justify;
}
.service-text h2{
  padding-bottom: 20px;
}

.service-container.reverse .service-text {
  padding-right: 0;
  padding-left: 20px;
}

.service-image {
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.service-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
} 

/* Responsive Design */
@media (max-width: 992px) {
  .service-container,
  .service-container.reverse {
    flex-direction: column;
    text-align: justify;
    padding: 20px; /* Reduce padding for smaller screens */
  }

  .service-text {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .service-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-image img {
    width: 90%; /* Reduce size for smaller screens */
    max-width: 300px; /* Prevents it from getting too large */
  }
}

/* Extra small screens (phones) */
@media (max-width: 576px) {
  .service-container,
  .service-container.reverse {
    padding: 15px;
  }

  .service-text h2 {
    font-size: 1.5rem; /* Adjust heading size */
  }

  .service-text p {
    font-size: 1rem; /* Adjust paragraph size */
  }

  .service-image img {
    width: 100%;
    max-width: 250px;
  }
}
