<div class="first-img-container">
  <img src="Services-Banner.jpg" 
       alt="Services Banner" 
       class="mission-vision-image">
  <div class="mission-vision-text">
      <span>Services</span>
  </div>
</div>
<div class="service-main">
  <div 
    *ngFor="let service of services; let i = index" 
    class="service-container" 
    [ngClass]="{ 'reverse': i % 2 !== 0 }"
    [id]="service.title">
    
    <div class="service-text">
      <h2>{{ service.title }}</h2>
      <p [innerHTML]="service.description"></p> 
    </div>

    <div class="service-image">
      <img [src]="service.image" alt="{{ service.title }}">
    </div>

  </div>
</div> 
