<footer class="footer-container">
    <div class="footer-content">
     
      <div class="footer-section software-solutions">
        <h3 class="footer-title">Software & Solution</h3>
        <ul>
          <li>Smart Milk Procurement System</li>
          <li>Smart Dairy Management System</li>
          <li>Real Time Order Management System</li>
          <li>Software Point of Sale</li>
          <li>Automatic Milk Collection System</li>
          <li>DAIRY ERP</li>
        </ul>
      </div>
  
      <div class="footer-section hardware-solutions">
        <h3 class="footer-title">Hardware & Solution</h3>
        <ul>
          <li>Milk Analyzer</li>
          <li>Electronic Weight Machine</li>
          <li>Point of Sale Machine</li>
          <li>Automatic Milk Collection System</li>
        </ul>
      </div>
  
      <div class="footer-section services">
        <h3 class="footer-title">Service</h3>
        <ul>
          <li>IOT Development</li>
          <li>Mobile Application</li>
          <li>Web Development</li>
        </ul>
      </div>
  
      <div class="footer-section quick-links">
        <h3 class="footer-title">Quick Links</h3>
        <ul>
          <li>Mission and Vision</li>
          <li>Our Teams</li>
          <li>Contact Us</li>
          <li>Privacy-Policy</li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
         <div class="footer-section contact-info">
        <h3 class="footer-title">Flowbite Logo</h3>
        <p>📞 +91 6352359278</p>
        <p>📧 infosamudratech.com</p>
      </div>
  
      <p>© 2024 Stechto Pvt Ltd. | All Right Reserved</p>
    </div>
  </footer>
  