<footer class="footer-container">

  <div class="footer_main">
  
    <div class="footer-content">

      <div class="footer-section quick-links">
        <h3 class="footer-title">Company</h3>
        <ul>
          <li><a href="#">Mission and Vision</a></li>
          <li><a href="#">Our Teams</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="footer-section services">
        <h3 class="footer-title">Service</h3>
        <ul>
          <li><a href="#">IOT Development</a></li>
          <li><a href="#">Mobile Application</a></li>
          <li><a href="#">Web Development</a></li>
        </ul>
      </div>

      <div class="footer-section software-solutions">
        <h3 class="footer-title">Software & Solution</h3>
        <ul>
          <li><a href="#">Smart Milk Procurement System</a></li>
          <li><a href="#">Smart Dairy Management System</a></li>
          <li><a href="#">Real Time Order Management System</a></li>
          <li><a href="#">Software Point of Sale</a></li>
          <li><a href="#">Automatic Milk Collection System</a></li>
          <li><a href="#">DAIRY ERP</a></li>
        </ul>
      </div>

      <div class="footer-section hardware-solutions">
        <h3 class="footer-title">Hardware & Solution</h3>
        <ul>
          <li><a href="#">Milk Analyzer</a></li>
          <li><a href="#">Electronic Weight Machine</a></li>
          <li><a href="#">Point of Sale Machine</a></li>
          <li><a href="#">Automatic Milk Collection System</a></li>
        </ul>
      </div>

    
    

    </div>

    <div class="footer-section footer_l1">
        
      <a href="">
        <img src="SamudraLogo.png" alt="">
      </a>

      <div class="footer-section contact-info">
        <a href="tel:+916352359278">+91 6352359278</a>
        <a href="mailto:infosamudratech.com">infosamudratech.com</a>
      </div>

      <div class="social-media"> 
        <a href="#"><img src="linkedin_icon.svg" alt="LinkedIn"></a>
        <a href="#"><img src="twitter_icon.svg" alt="Twitter"></a>
        <a href="#"><img src="facebook_icon.svg" alt="Facebook"></a>
        <a href="#"><img src="youtube_icon.svg" alt="YouTube"></a>
      </div>
      

    </div>
    
  </div>

  <div class="footer-bottom">
    <p>© 2024 Stechto Pvt Ltd. | All Rights Reserved</p>

    
  </div>
  
</footer>
