<div class="first-img-container">
    <img src="Our-Team.jpg" 
         alt="Flowbite Logo" 
         class="mission-vision-image">
    <div class="mission-vision-text">
        <span>Our Team</span>
    </div>
</div>

<div class="executive-team">
    <h2>Meet Our Brilliant Brains Behind SamudraTech</h2>

    <div class="executive-list">
      <div class="executive-card" *ngFor="let executive of executives">

        <div class="executive-box d-sm-flex d-block align-items-center">
            <div class="img-box"> 
              <img [src]="executive.imageUrl" class="executive-profile" [alt]="executive.name" width="100%" height="100%" />
              <a [href]="executive.linkedinUrl" target="_blank">
                <img src="linkedin-icon.webp" class="linkedin-profile" alt="LinkedIn Profile" width="auto" height="auto" />
              </a>
            </div> 

            <div class="contain-box">

              
              <svg width="41" height="34" viewBox="0 0 41 34"  fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.5" d="M41 34H25.2425C23.9167 28.6369 23.2537 23.628 23.2537 18.9732C23.2537 6.32441 28.9652 0 40.3881 0V7.58928C35.4925 7.58928 33.0448 10.4732 33.0448 16.2411V19.4286H41V34ZM17.7463 34H1.98881C0.662935 28.6369 0 23.628 0 18.9732C0 6.32441 5.71144 0 17.1343 0V7.58928C12.2388 7.58928 9.79104 10.4732 9.79104 16.2411V19.4286H17.7463V34Z" fill="#F6A21C"></path>
              </svg>
          

              <p class="my-3">{{ executive.description }}</p>
              <div class="executive-designation">
                <h3 class="primaryColor text-capitalize mb-0">{{ executive.name }}</h3>
                <p class="text-capitalize">{{ executive.position }}</p>
              </div>
            </div>

        </div>

      </div>
    </div>

  </div>
  
 
  