<div class="first-img-container">
    <img src="RTOMS-Banner.jpg" 
         alt="Flowbite Logo" 
         class="mission-vision-image">
    <div class="mission-vision-text">
        <img src="logo-rtoms.png" alt="">
    </div>
</div>

<div class="image-container faded show">
    <img src="RTMOS_4_mobile-01.jpg" alt="RTMOS Image" class="image">
</div>
  
<div class="rtoms-container">
    <!-- Text Content -->
    <div class="text-section left show">
      <div class="content">
        <p class="description">
          RTOMS, or Real Time Order Management System, allows users to place orders online seamlessly. 
          RTOMS simplifies various user needs, such as managing orders in Excel sheets, making calls for orders, 
          obtaining approvals from other parties, shift-wise ordering, online reporting, crate management, reimbursement, and more.
        </p>
        <ul class="features">
          <li class="highlight">
            <span class="text"> RTOMS is a one-stop solution for our users. By simply performing their assigned duties, 
              users will find that it efficiently and effectively handles their daily tasks.
            </span>
          </li>
          <li class="highlight">
            <span class="text"> In RTOMS, we utilize a layered architecture where each layer has specific responsibilities 
              to achieve the desired operations. This multilevel hierarchy incorporates abstraction at each layer.
            </span>
          </li>
          <li class="highlight">
            <span class="text"> RTOMS is an agile solution designed to support the growth of the dairy industry. 
              It was developed with a focus on addressing the specific needs of dairy order management systems.
            </span>
          </li>
        </ul>
      </div>
    </div>
  
    
    <!-- Image Section -->
    <div class="image-section right show">
      <div class="image-container">
        <img src="RTMOS.jpg" alt="RTOMS System" class="rtoms-image">
      </div>
    </div>

    
  </div>
  
    <div class="download-section">
        <!-- Download Brochure Button -->
        <div>
        <button class="download-btn">       
            Download Brochure
        </button>
        </div>
    
        <!-- Download Application Link -->
        <div>
        <a href="https://play.google.com/store/apps/details?id=io.ionic.rtoms" class="download-btn">
        
            Download Application
        </a>
        </div>
    </div>
  