<div class="first-img-container">
    <img src="Software-POS-Banner.png" 
         alt="Flowbite Logo" 
         class="mission-vision-image">
    <div class="mission-vision-text">
        <span>Software POS</span>
    </div>
</div>
<div class="description-container">
    Our software revolutionizes billing at your point of sale (POS) by simplifying the process. Instantly capture sales and customer details while gaining valuable business insights. You can print invoices immediately or share them via WhatsApp. Upgrade your billing system to be efficient and state-of-the-art with India’s top POS billing software for businesses.
</div>


<div class="pos-container">
    <div class="pos-content">
      
      <!-- Left Section (Text Content) -->
      <div class="pos-text-container">
        <h1>Benefits of POS</h1>
        <ul class="pos-list">
          <li><span>Generate bills quickly and conveniently with ease.</span></li>
          <li><span>Reduce long customer queues and speed up the billing process.</span></li>
          <li><span>Our software simplifies payments, expenses, and inventory management, in addition to billing and invoicing.</span></li>
          <li><span>Automation handles billing, discounts, and GST tax calculations, minimizing manual tasks and freeing up your time.</span></li>
          <li><span>Enhance your professional image and impress customers by sending invoices via WhatsApp.</span></li>
          <li><span>Enjoy increased customer satisfaction and repeat business.</span></li>
        </ul>
      </div>
  
      <!-- Right Section (Image) -->
      <div class="pos-image-container">
        <img src="02-Software-POS.png" alt="POS Software" class="pos-image">
      </div>
  
    </div>
  </div>
  