<div class="first-img-container">
    <img src="AMCS-Banner-1.jpg" 
         alt="Flowbite Logo" 
         class="mission-vision-image">
    <div class="mission-vision-text">
        <span>Software AMCS</span>
    </div>
</div>

<div class="description-container">
    The PC-Based Automatic Milk Collection System represents a significant advancement, often referred to as the white revolution in the dairy industry. 
    This system is designed to meet the specific needs of farmers and dairies for efficient milk collection, record-keeping, and data analysis. 
    Our application software is available in eight local languages (English, Hindi, Gujarati, Marathi, Bengali, Punjabi, Telugu, Kannada) and is PHP-based, 
    enabling seamless data transfer via the internet and GSM to both union and central servers. Additionally, it includes integrated financial accounting software.
  </div>
  
  <div class="features-container">
    <h1 class="features-title faded show">Key Features Benefit</h1>
    
    <div class="features-description left show">
      User-level security is a key feature, with the ability to back up data to external media and HDDs on an odd/even day basis. 
      The operator can visually monitor the milk quantity in the can and has the capability to adjust parameters and print reports during the collection process. 
      The system prevents duplicate milk entries without user authorization. It displays today's entries along with details such as fat content, weight, SNF, rate, and amount, 
      allowing the operator to verify all entries on a single screen during milk receipt.
    </div>
  
    <div class="features-content">
      <div class="features-text left show">
        <p>
          Payment calculations are based on a formula derived from the dairy’s rate table. Users can update the rates directly within the program without needing 
          to contact the software vendor. The program automatically backs up data and starts up when the computer boots, shutting down automatically when exited. 
          Users only need to power the computer on and off to initiate and end the program. The system handles auto-tare, slip printing, and baud rate settings 
          automatically. It also supports manual collection in case of communication failures with the milk-o-tester, fat machine, or weigh scale. Features include 
          milk entry using three keystrokes, duplicate slip printing, slip deletion and modification, data modification with security, and support for Remington 
          and Saral keyboard settings in local languages. Additionally, the program performs auto-average fat calculations if the MTM fails.
        </p>
        <p>
          The software interfaces with any digital scale or MTM that has a serial output. It includes features for slip length settings and integrates with 
          the financial accounting system. Additional capabilities encompass deductions, election reports, society member history, committee reports by year, 
          and employee master records. Designed to operate under various conditions, the software requires a UPS and is user-friendly, with no need for a 
          power failure recovery process. It also offers online help in HTML/AVI format in English or any local language upon request.
        </p>
      </div>
      
      <div class="features-image right show">
        <img src="02-AMCS.jpg" alt="AMCS System">
      </div>
    </div>
  
    <div class="features-button bottom show">
      <button class="download-btn">
        <span class="material-symbols-outlined"> download </span> Download Brochure
      </button>
    </div>
  </div>
  