<div class="product-container">
    <div class="product-left">
        <h1>Our Products</h1>
        <h3>Explore our range of dairy products</h3>
        <p>We provide top-quality dairy products for your needs. Browse our selection below.</p>

        <div class="btn-container">
            <a target="_blank" href="#" class="custom-btn">
                Explore All
                <svg class="ms-2" width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.0303 6.53033C20.3232 6.23744 20.3232 5.76256 20.0303 5.46967L15.2574 0.696699C14.9645 0.403806 14.4896 0.403806 14.1967 0.696699C13.9038 0.989593 13.9038 1.46447 14.1967 1.75736L18.4393 6L14.1967 10.2426C13.9038 10.5355 13.9038 11.0104 14.1967 11.3033C14.4896 11.5962 14.9645 11.5962 15.2574 11.3033L20.0303 6.53033ZM0 6.75H19.5V5.25H0V6.75Z" fill="white"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="product-right">
        <div class="img-swiper">
            <div class="img-container">
                <img [src]='products[currentIndex].imageUrl' [alt]="products[currentIndex].title" class="fade">
            </div>
            <p>{{ products[currentIndex].title }}</p>
            <a [href]="products[currentIndex].link">View more →</a>
        </div>
    </div>
</div>
