<div class="home-container">

  <header class="hero-header">
    
     <h1>One Stop Dairy Supply Chain Management via IOT</h1>
      <div class="image-wrapper">
        <img src="Homepage-Banner-01.png" alt="Supply Chain" class="animated-image" />
      </div>
      
  </header>
 
  <!-- Swiper Slider -->
  <div class="slider-container">

    <div class="slider-track" #slider>

      <div class="slide" *ngFor="let logo of logos">
        <img [src]="logo" alt="Logo" />
      </div>

    </div>

  </div>
  <!-- sevices -->
  <section class="services-container">

    <div class="services_left">
    <h2>Our Services</h2>
    <div class="services_list">
      <a href="#">Web development</a>
      <a href="#">Mobile app development</a>
      <a href="#">IOT development</a>
    </div>
    </div>

    <div class="services_right">
      <h4>Web development</h4>
      <p>Our meticulous approach to creating web applications places us among the top web application development services. We have developed numerous web applications by thoroughly understanding and addressing our clients' requirements.</p>
      <a target="_blank" href="https://www.zealousys.com/case-study/" class="custom-btn">
        Explore All
        <svg class="ms-2" width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.0303 6.53033C20.3232 6.23744 20.3232 5.76256 20.0303 5.46967L15.2574 0.696699C14.9645 0.403806 14.4896 0.403806 14.1967 0.696699C13.9038 0.989593 13.9038 1.46447 14.1967 1.75736L18.4393 6L14.1967 10.2426C13.9038 10.5355 13.9038 11.0104 14.1967 11.3033C14.4896 11.5962 14.9645 11.5962 15.2574 11.3033L20.0303 6.53033ZM0 6.75H19.5V5.25H0V6.75Z" fill="white"></path>
        </svg>
      </a>

    </div>

  </section>
  

</div>
