<div class="aboutus-container">
    <div class="intro-video">
        <iframe 
            src="https://www.youtube.com/embed/271IK8ThXRs?si=mGdPWerI2UyCDMzP" 
            title="Samudra Infotech Intro" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
   
    <div class="intro">
        <h1>Welcome to Samudra</h1>
        <h3>Great Things are Built On Great Collaborations.</h3>
        <p>At Samudra Technologies, our mission is to meet the evolving needs of our clients by delivering creative, competitive, and high-quality software development services. We strive for excellence in our field to enhance the quality of life through technology. Our extensive knowledge of local cultures and markets sets us apart and forms the foundation of our ongoing growth. By leveraging our expertise, years of experience, and practical approach, we are dedicated to providing the best services and efficiency to our clients.</p>
    </div>
</div>
