

/* ------------------------------------------------------------------------ */
.slider-container {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 30px 4px;

  }
  
  .slider-track {
    display: flex;
    width: 100%;
    gap: 30px;
    animation: slideAnimation 10s linear infinite;
  }
  
  .slide {
    flex-shrink: 10;
    padding: 10px;
  
  }
  
  .slide img {
    height: 50px; /* Adjust based on your logo sizes */
    width: auto;
  }
  
  @keyframes slideAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 763px) {
    .slider-container {
      padding: 10px 4px;
    }
  }
  @media (max-width: 450px) {
    .slider-container {
      padding: 5px 4px;
    }
  }
  