<div class="first-img-container">
    <img src="Mission-Vission_Banner1.jpg" 
         alt="Flowbite Logo" 
         class="mission-vision-image">
    <div class="mission-vision-text">
        <span>Mission and Vision</span>
    </div>
</div>

<div class="mission-info">
    <div class="info">
        <p>
            At Samudra Infotech Pvt. Ltd., our goal is to meet the ever-increasing needs of our clients by delivering creative and competitive quality services. We aim to achieve a high level of expertise in software development and utilization, ultimately enhancing the quality of life. Our in-depth knowledge of local cultures and markets is an unparalleled legacy and the cornerstone of our future growth. By combining our extensive knowledge base, years of experience, and down-to-earth approach, we are dedicated to providing the best services and efficiency to our clients.
        </p>
    </div>
    <div class="info-img-container">
        <img src="Mission-Vission.jpg" alt="Mission & Vision">
    </div>
</div>

   <div class="mission-vision-container">
    <!-- Mission Section -->
    <div class="mission">
      <div class="mission-text">
        <h2>Mission</h2>
        <h5>To meet the ever-increasing needs of our clients by delivering creative and competitive quality services. We aim to achieve a high level of expertise in software development and utilization, ultimately enhancing the quality of life...</h5>
      </div>
      <img src="about-mission.webp" 
           alt="About Mission" 
           class="mission-image">
    </div>
  
    <!-- Vision Section -->
    <div class="vision">
      <div class="vision-text">
        <h2>Vision</h2>
        <h5>Long-term success requires unwavering commitment to exceptional performance, efficiency, strong teamwork, and a continuous embrace of new ideas and learning...</h5>
      </div>
      <img src="about-vision.webp" 
           alt="About Vision" 
           class="vision-image">
    </div>
  </div>
  
  

  <div class="milestone-container">
  <div class="title">Milestone</div>
  <div class="description">
    In the last 25 years, we have achieved several milestones that we are pleased to share. 
    We have worked with more than 10,000 customers. To support this growing customer base, 
    we established a new office in Patna and set up our R&D department in Ahmedabad to enhance 
    our technology. Additionally, we have become an ISO-certified company.
  </div>
</div>
